body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
}
.post {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.header {
    width: 96%;
    height: 50%;
    border: 1px green;
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 8px 0px 8px 5px ;
}

.title {
    width: 30%;
    border: 2px solid red;
    display: inline-flex
}
.logo {
    width: 20px;
    height: 20px;
}
.text {
    padding-left: 10px;
    font-family: arial, sans-serif;
}
.icon-ellipse {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0px 3px 0px 0px;
    border: 2px solid yellow;
    
}
.image {
    width: 100%;
}
.icons {
    display: inline-flex;
}
.left {
    padding-left: 10px;
}